img {
  width: 200px;
  height: 150px;
}

.row{
  padding-bottom: 20px !important;
}

.search{
  margin-bottom: 50px;
}

.coursetitle{
  background-color: white;
  text-align: center;
  font-size: 24px;
}

.empty{
  padding-top: 100px;
  color: royalblue;
  font-size: 20px;
  text-align: center;
}
.empty img{
  background-color: transparent;
}
